<div class="ui {{ isLoggedIn() ? 'four' : 'three' }} item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="publicPadlets" routerLinkActive="active" class="item">Public Padlets</a>
  <a *ngIf="isLoggedIn()" routerLink="privatePadlets" routerLinkActive="active" class="item">My Padlets</a>
  <a routerLink="login" routerLinkActive="active" class="item">{{ getLoginLabel() }}</a>
</div>

<m-semantic-ui-theme>
<!--   Import common styles for site -->
  <m-semantic-ui-site></m-semantic-ui-site>
<!--   Import reset to normalize values for CSS properties-->
  <m-semantic-ui-reset></m-semantic-ui-reset>
<!--   Import local hosted lato font-->
  <m-semantic-ui-lato-local></m-semantic-ui-lato-local>
   <!--Import local hosted icons-->
  <m-semantic-ui-icons-local></m-semantic-ui-icons-local>
</m-semantic-ui-theme>

<router-outlet></router-outlet>


