<div class="ui {{ isLoggedIn() ? 'four' : 'three' }} item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="padlets" routerLinkActive="active" class="item">Public Padlets</a>
  <a *ngIf="isLoggedIn()" routerLink="privatePadlets" class="item">My Padlets</a>
  <a routerLink="login" routerLinkActive="active" class="item">{{ getLoginLabel() }}</a>
</div>

<!--<m-semantic-ui-theme>
  &lt;!&ndash; Import common styles for site &ndash;&gt;
  <m-semantic-ui-site></m-semantic-ui-site>
  &lt;!&ndash; Import reset to normalize values for CSS properties &ndash;&gt;
  <m-semantic-ui-reset></m-semantic-ui-reset>
  &lt;!&ndash; Import local hosted lato font &ndash;&gt;
  <m-semantic-ui-lato-local></m-semantic-ui-lato-local>
  &lt;!&ndash; Import local hosted icons &ndash;&gt;
  <m-semantic-ui-icons-local></m-semantic-ui-icons-local>
</m-semantic-ui-theme>-->

<router-outlet></router-outlet>

<!--<div class="ui grid">
  <div class="one wide column"></div>
  <div class="fourteen wide column">
    <div class="ui pointing menu">
      <a class="item" routerLink="home" routerLinkActive="active">
        Home
      </a>
      <a class="item" routerLink="padlets" routerLinkActive="active">
        Public Padlets
      </a>
      <a class="item">
        My Padlets
      </a>
      <div class="right menu">
        <a class="ui item">
          Logout
        </a>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="one wide column"></div>
</div>-->


