<form action="" class="ui large form" [formGroup]="padletForm" (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">
  <div class="field">
    <label>Name</label>
    <input formControlName="name" type="text">
    <div *ngIf="errors['name']" class="ui negative message">
      {{errors['name']}}
    </div>
  </div>
  <!--<div class="inline field">
    <div>
      <input type="checkbox" tabindex="0" class="hidden">
      <label>make padlet public</label>
    </div>
  </div>-->
  <label *ngIf="canCreatePrivatePadlets()">
    <input type="checkbox" formControlName="isPublic">
    Make padlet public
  </label>
<!--  TODO: public / private -->
  <!--  TODO Rechteverwaltung -->
  <br>
  <button type="submit" class="ui button"
          [disabled]="padletForm.invalid">Save</button>
</form>
