<div class="comment">
  <a class="avatar" [routerLink]="getUserLink()">
    <img *ngIf="rating?.user?.image" [src]="rating?.user?.image"
         alt="{{rating?.user?.firstname}} {{rating?.user?.lastname}}">
    <img *ngIf="!rating?.user?.image" src="https://img.freepik.com/free-icon/chick_318-594022.jpg?w=360"
         alt="{{rating?.user?.firstname}} {{rating?.user?.lastname}}">
  </a>
  <div class="content">
    <a class="author">{{rating?.user?.firstname}} {{rating?.user?.lastname}}</a>
    <div class="metadata">
      <span class="date">{{ rating?.created_at|date:'short'}}</span>
    </div>
    <div class="text">
      <i *ngFor="let r of getRatingArray(rating?.stars)" class="yellow star icon"></i>
      <i *ngFor="let r of getRatingArray2(rating?.stars)" class="grey star icon"></i>
    </div>
  </div>
</div>

