<div class="comment">
  <a class="avatar">
    <img *ngIf="rating?.user?.image" [src]="rating?.user?.image">
    <img *ngIf="!rating?.user?.image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
  </a>
  <div class="content">
    <a class="author">{{rating?.user?.firstname}} {{rating?.user?.lastname}}</a>
    <div class="metadata">
      <span class="date">Today at 5:42PM</span>
    </div>
    <div class="text">
      <i *ngFor="let r of getRatingArray(rating?.stars)" class="yellow star icon"></i>
      <i *ngFor="let r of getRatingArray2(rating?.stars)" class="grey star icon"></i>
    </div>
  </div>
</div>

