<div *ngIf="isLoggedIn()">
  <h1>Hello {{user?.firstname}}, welcome back</h1>

</div>

<h2 *ngIf="invitations && invitations.length">Pending Invitations:</h2>
<div class="ui cards">
  <div *ngFor="let invitation of invitations" class="card">
      <div class="content">
        <img class="right floated avatar ui image" [src]="invitation.user.image">
        <div class="header">
          {{ invitation.padlet.name }}
        </div>
        <div class="meta">
          Come join my padlet!
        </div>
        <div class="description">
          <i>{{ invitation.user.firstname }} {{ invitation.user.lastname }}</i> is inviting you to join the padlet "{{ invitation.padlet.name }}"
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Accept</div>
          <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>
</div>



