<div class="ui container">
  <h1 class="ui header" *ngIf="isLoggedIn()">Hello {{user?.firstname}}, welcome back</h1>
  <h1 class="ui header" *ngIf="!isLoggedIn()">Hello, welcome to this Padlet Website</h1>

  <div class="mt-2">
    Have a look at all the <a [routerLink]="'../publicPadlets'"> Public Padlets</a><br>
  </div>
  <div *ngIf="!isLoggedIn">
    or <a [routerLink]="'../login'">login</a> to create private padlets and enjoy many more features!
  </div>
  <div *ngIf="isLoggedIn">
    or continue with your <a [routerLink]="'../privatePadlets'">private padlets</a>!
  </div>

  <h2 class="ui header" *ngIf="isLoggedIn() && invitations && invitations.length">Pending Invitations:</h2>
  <div class="ui cards">
    <div *ngFor="let invitation of invitations" class="card">
        <div class="content">
          <img class="right floated avatar ui image" [src]="invitation.padlet?.user?.image" alt="{{invitation.padlet?.user?.firstname}} {{invitation.padlet?.user?.lastname}}">
          <div class="header">
            {{ invitation.padlet?.name }}
          </div>
          <div class="meta">
            Come join my padlet!
          </div>
          <div class="description">
            <b>{{ invitation.padlet?.user?.firstname }} {{ invitation.padlet?.user?.lastname }}</b> is inviting you to join the padlet "{{ invitation.padlet?.name }}"
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button" (click)="acceptInvite(invitation)">Accept</div>
            <div class="ui basic red button" (click)="declineInvite(invitation)">Decline</div>
          </div>
        </div>
      </div>
  </div>
</div>


