<div class="ui container">

  <h1 class="ui header">{{ padlet.name }}</h1>

  <div class="m-b-5" style="margin-bottom: 1.5rem;">
    <button class="ui orange labeled icon button" (click)="addEntry()">
      <i class="plus icon"></i>
      New Entry
    </button>
    <button class="ui right labeled icon basic button  right floated">
      <i class="right black trash icon"></i>
      Delete Padlet
    </button>
  </div>

  <div class="ui raised segment" *ngIf="addingEntry">
    <h3>Add Entry</h3>
    <form action="" class="ui large form">

    </form>
  </div>

  <!--  TODO: editing and deleting -->
  <div class="ui four stackable cards" *ngIf="padlet.entries && padlet.entries.length > 0">
      <div class="card" *ngFor="let entry of padlet.entries">
        <div class="content">
          <img class="right floated avatar" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
          <div class="header">
            {{ entry?.title }}
          </div>
          <div class="meta">
            14h
          </div>
          <div class="description">
            {{ entry?.text}}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="comment black icon"></i> {{getNumComments(entry.comments)}}
          </span>
          <span *ngIf="entry.ratings">
          <i class="yellow star icon"></i> {{getRating(entry.ratings)}}
        </span>
          <span *ngIf="!entry.ratings">
          <i class="star icon"></i> 0
        </span>
        </div>
      </div>
  </div>

  <div *ngIf="padlet.entries && padlet.entries.length == 0" class="ui segment">
    There are no padlet entries yet.
  </div>

  <!--<div class="ui four cards">
    &lt;!&ndash;<div class="orange card">
      <div class="content">
        <div class="right floated">
          <img class="ui  avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg">
        </div>
        <div class="right floated meta">Matt</div>

        <div class="header">Cute Dog</div>
        <div class="meta">
          <span class="right floated time">2 days ago</span>
          <span class="category">Rating:
      <div class="ui star rating" data-rating="4"></div></span>
        </div>
        <div class="description">
          <p></p>
        </div>
      </div>
      <div class="extra content">
        <div class="center aligned author">
          <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Jenny
        </div>
      </div>
      <div class="extra content">
      <span class="left floated like">
        <i class="like icon"></i>
        Like
      </span>
        <span class="right floated star">
        <i class="star icon"></i>
        Favorite
      </span>
      </div>
      <div class="extra">
        Rating:
        <div class="ui star rating" data-rating="4"></div>
      </div>
    </div>&ndash;&gt;

    <div class="ui card">
      <div class="content">
        <div class="right floated meta">14h</div>
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg"> Elliot
      </div>
      <div class="content">
        <div class="description">
          Kristy is an art director living in New York.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="heart outline like icon"></i>
          17 likes
        </span>
        <i class="comment icon"></i>
        3
      </div>
      <div class="extra">
        Rating:
        <div class="ui star rating" data-rating="4"></div>
      </div>
    </div>

    <div class="ui card">
      <div class="content">
        <div class="right floated meta">14h</div>
        <img src="https://semantic-ui.com/images/avatar/small/matt.jpg" class="ui avatar image"> Elliot
      </div>
      <div class="content">
        <div class="description"> Kristy is an art director living in New York.</div>
      </div>
      <div class="extra"><span class="right floated"><i class="comment icon"></i> 3 </span><i class="star icon"></i> 3
      </div>
    </div>

    <div class="ui card">
      <div class="content">
        <div class="right floated meta">14h</div>
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg"> Elliot
      </div>
      <div class="content">
        <div class="description">
          Kristy is an art director living in New York.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="heart outline like icon"></i>
          17 likes
        </span>
        <i class="comment icon"></i>
        3
      </div>
    </div>

    <div class="ui card">
      <div class="content">
        <div class="right floated meta">14h</div>
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg"> Elliot
      </div>
      <div class="content">
        <div class="description">
          Kristy is an art director living in New York. This could be interesting.
        </div>
      </div>
      <div class="extra content">
          <span class="right floated">
            <i class="comment icon"></i> 3
          </span>
        Rating:
        <div class="ui star rating" data-rating="4"></div>
      </div>
    </div>

    <div class="ui card">
      <div class="content">
        <div class="right floated meta">14h</div>
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg"> Elliot
      </div>
      <div class="content">
        <div class="description">
          Kristy is an art director living in New York.
        </div>
      </div>
      <div class="extra">
        <span class="right floated">
            <i class="comment icon"></i> 3
          </span>
        <i class="star icon"></i>
        3
      </div>
      <div class="extra">
        Rating:
        <div class="ui star rating" data-rating="4"></div>
      </div>
    </div>

    </div>-->

  <!--<div class="ui four stackable cards">
    <div class="card">
      <div class="content">
        <img class="right floated avatar" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
        <div class="header">

&lt;!&ndash;          Elliot Fu&ndash;&gt;
        </div>
        <div class="meta">
          14h
        </div>
        <div class="description">
          Elliot requested permission to view your contact details
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="comment icon"></i> 3
        </span>
        Rating:
        <div class="ui star rating" data-rating="4"></div>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <img class="right floated avatar" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
        <div class="header">
          Art Director
        </div>
        <div class="meta">
          14h
        </div>
        &lt;!&ndash;<div class="description">
          Kristy is an art director living in New York.
        </div>&ndash;&gt;
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="comment icon"></i> 3
        </span>
        Rating:
        <div class="ui star rating" data-rating="4"></div>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <img class="right floated avatar" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
        <div class="header">
          Elliot Fu
        </div>
        <div class="meta">
          14h
        </div>
        <div class="description">
          Elliot requested permission to view your contact details
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="comment icon"></i> 3
        </span>
        Rating:
        <div class="ui star rating" data-rating="4"></div>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <img class="right floated avatar" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
        <div class="header">
          Art Director TEST TEST TEST TEST
        </div>
        <div class="meta">
          14h
        </div>
        <div class="description">
          Kristy is an art director living in New York.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="comment icon"></i> 3
        </span>
        Rating:
        <div class="ui star rating" data-rating="4"></div>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <img class="avatar" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
        <div class="meta right floated">
          14h
        </div>
      </div>
      <div class="content">
        <div class="description">
          Kristy is an art director living in New York.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="comment icon"></i> 3
        </span>
        Rating:
        <div class="ui star rating" data-rating="4"></div>
      </div>
    </div>

</div>-->

  <!--<div class="ui card">
    <div class="content">
      <div class="description">
        Kristy is an art director living in New York.
      </div>
      <div class="meta">
        <span>by Hanna</span>
        <span class="meta right floated">
              14h
            </span>
      </div>
    </div>
    <div class="extra content">
          <span class="right floated">
            <i class="comment icon"></i> 3
          </span>
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>-->

  <!--<div class="ui card">
    <div class="content">
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
      <div class="description">
        <span class="meta">
        14h
      </span>
        <img class="right floated avatar" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
      </div>
    </div>
    <div class="extra content">
          <span class="right floated">
            <i class="comment icon"></i> 3
          </span>
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>-->

  <div class="container" style="margin-top: 20px;">
    <button [routerLink]="'/padlets'" class="ui orange button">Zurück zu allen Padlets
    </button>
  </div>

</div>


