<div class="ui container">

  <h1 class="ui header">{{ padlet.name }} <span *ngIf="!editingPadlet" style="margin-left: 1rem;"
                                                (click)="editPadlet()"> <i *ngIf="permission === 'delete' || permission  === 'write' || isPadletOwner" class="pencil alternate icon"></i> </span>
  </h1>
  <div style="margin-bottom: 2rem;">by {{padlet.user.firstname}} {{padlet.user.lastname}}</div>

  <div class="ui segment" *ngIf="editingPadlet">
    <bs-padlet-form></bs-padlet-form>
  </div>

  <div class="m-b-5" style="margin-bottom: 1.5rem;" *ngIf="permission !== 'read' || isAnonymUser">
    <button *ngIf="!addingEntry" class="ui orange labeled icon button" (click)="addEntry()">
      <i class="plus icon"></i>
      New Entry
    </button>
    <button *ngIf="addingEntry" class="ui labeled icon button" (click)="cancel()">
      <i class="minus icon"></i>
      Cancel
    </button>
    <button *ngIf="isPadletOwner" class="ui right labeled icon basic button  right floated" (click)="deletePadlet(padlet.id)">
      <i class="right black trash icon"></i>
      Delete Padlet
    </button>
  </div>

  <div class="ui raised segment" *ngIf="addingEntry">
    <bs-entry-form></bs-entry-form>
  </div>

  <div *ngIf="padlet.entries && padlet.entries.length > 0"></div>
  <div class="ui four stackable cards">
    <div class="card bs-entry" *ngFor="let entry of padlet.entries" [entry]="entry" [permission]="getPermissions()" [isAnonymUser]="isAnonymUser">
    </div>
  </div>

  <!--  Padlet Entries-->
  <div *ngIf="padlet.entries && padlet.entries.length == 0" class="ui segment">
    There are no padlet entries yet.
  </div>

  <div class="container" style="margin-top: 20px;">
    <button [routerLink]="'/publicPadlets'" class="ui orange button">back to all public Padlets
    </button>
  </div>

</div>


