<div class="ui container">
  <h1 class="ui header">Padlets</h1>

  <div class="m-b-5" style="margin-bottom: 1.5rem;">
    <button *ngIf="!creatingPadlet" class="ui orange labeled icon button" (click)="createPadlet()">
      <i class="plus icon"></i>
      Create Padlet
    </button>
    <button *ngIf="creatingPadlet" class="ui labeled icon button" (click)="cancel()">
      <i class="minus icon"></i>
      Cancel
    </button>
  </div>
  <div class="ui segment" *ngIf="creatingPadlet">
    <bs-padlet-form></bs-padlet-form>
  </div>

  <div class="ui large selection relaxed animated list">
    <a *ngFor="let padlet of padlets" class="item" [routerLink]="padlet.id.toString()">
      <i class="icon large sticky note outline black"></i>
      <div class="content">
        <div class="header">{{padlet.name}}</div>
        <div>by {{padlet.user.firstname}} {{padlet.user.lastname}}</div>
      </div>
    </a>
  </div>
</div>



