<div class="content modalCard" (click)="showModal = true; addEntryId(entry?.id);">
  <img *ngIf="entry?.user?.image" class="right floated avatar" [src]="entry?.user?.image" alt="{{entry?.user?.firstname}} {{entry?.user?.lastname}}">
  <img *ngIf="!entry?.user?.image" class="right floated avatar" alt="{{entry?.user?.firstname}} {{entry?.user?.lastname}}"
       src="https://img.freepik.com/free-icon/chick_318-594022.jpg?w=360">
  <div class="header">
    {{ entry?.title }}
  </div>
  <div class="meta">
    {{ entry?.updated_at|date:'short'}}
  </div>
  <div class="description">
    {{ entry?.text}}
  </div>
</div>
<div class="extra content">
  <span class="right floated">
    <i class="comment black icon"></i> {{getNumComments(entry?.comments)}}
  </span>
  <span *ngIf="entry?.ratings && entry?.ratings?.length">
          <i class="yellow star icon"></i> avg rating: {{getRating(entry?.ratings)}}
        </span>
  <span *ngIf="getRating(entry?.ratings) == 0">
        <i class="star icon"></i> no ratings
  </span>
</div>


<m-modal *ngIf="showModal" (close)="showModal = false; removeEntryId();">
  <m-modal-header>
    {{ entry?.title }}
  </m-modal-header>
  <div class="ui four column grid" style="max-width: 650px;">
    <div class="row">
      <div class="column">by {{entry?.user?.firstname}} {{entry?.user?.lastname}}</div>
      <div class="column"></div>
      <div class="column">
        <span *ngIf="permission === 'delete' || permission === 'write' || isEntryOwner" class="right floated" (click)="editEntry()">
          <i class="pencil alternate icon"></i>
        </span>
      </div>
      <div class="column">
        <span *ngIf="permission === 'delete' || isEntryOwner" class="right floated" (click)="deleteEntry(entry?.id)">
          <i class="trash icon"></i>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="column">

      </div>
    </div>
  </div>
  <div class="description">
    <p>
      {{entry?.text}}
    </p>
  </div>
  <div *ngIf="editingEntry" style="margin-top: 2rem;">
    <bs-entry-form></bs-entry-form>
  </div>
  <div class="ui comments" style="margin-top: 3rem;">
    <h3 class="ui dividing header">Comments</h3>
    <div *ngIf="entry?.comments && entry?.comments?.length===0" style="margin-top: 1rem;"><i class="frown outline icon"></i>No comments yet.</div>
    <div *ngIf="entry?.comments && entry?.comments?.length">
      <div class="bs-comment" *ngFor="let comment of entry?.comments" [comment]="comment">
    </div>
    </div>
    <bs-comment-form *ngIf="permission !== 'read'"></bs-comment-form>
    <div *ngIf="isAnonymUser" style="margin-top: 1rem;"><i class="info icon"></i>Sorry, you can only add comments if you are logged in.</div>
  </div>
  <div class="ui comments" style="margin-top: 3rem;">
    <h3 class="ui dividing header">Ratings</h3>
    <div *ngIf="entry?.ratings  && entry?.ratings?.length === 0" style="margin-top: 1rem;"><i class="frown outline icon"></i>No ratings yet.</div>
    <div *ngIf="entry?.ratings && entry?.ratings?.length">
      <div class="bs-rating" *ngFor="let rating of entry?.ratings" [rating]="rating">
      </div>
    </div>
    <bs-rating-form *ngIf="!ratingExists && permission !== 'read'"></bs-rating-form>
    <div *ngIf="ratingExists" style="margin-top: 1rem;"><i class="info icon"></i>You already rated this entry.</div>
    <div *ngIf="isAnonymUser" style="margin-top: 1rem;"><i class="info icon"></i>Please login to rate this entry.</div>
  </div>
  <m-modal-footer>
    <m-button class="black" (click)="showModal = false; removeEntryId()">Close</m-button>
  </m-modal-footer>
</m-modal>
